*[class*=btn]:hover {
  background-color: #411d89;
  color: #ebe3f8;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
ul,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

.btn,
a[class*=btn],
.nav-bar a,
p a {
  color: unset;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  background: #6a43b6;
  color: #ebe3f8;
  margin: 0;
  padding: 20px;
}

/**************** Default Margins Wrapper ******************/
*[class*=wrapper] {
  margin: 0 1rem;
}
@media screen and (min-width: 768px) {
  *[class*=wrapper] {
    margin: 0 2.25rem;
  }
}
@media screen and (min-width: 1020px) {
  *[class*=wrapper] {
    margin: 0 auto;
    width: 100%;
    max-width: 63.75rem;
  }
}

*[class*=wrapper--tablet] {
  margin: 0;
}
@media screen and (min-width: 768px) {
  *[class*=wrapper--tablet] {
    margin: 0 2.25rem;
  }
}
/****************** Default Paddings ***************/
h1,
h2,
h3 {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  h1,
  h2,
  h3 {
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
}

/***************** FONTS ************************/
h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

h3 {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 500;
  }
}

body {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
}

*[class*=btn] {
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  *[class*=btn] {
    font-size: 0.75rem;
  }
}

*[class*="--medium"] {
  font-weight: 500;
}

*[class*="--bold"] {
  font-weight: 700;
}

/*********************************************/
/* Buttons Set-up */
*[class*=btn] {
  text-align: center;
  text-decoration: none;
  height: 2.5rem;
  border: unset;
  width: 100%;
  background-color: #ae97e6;
  color: #411d89;
  border-radius: 4px;
  padding: 0.75rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  *[class*=btn] {
    padding: 0 2rem;
    width: 9.375rem;
  }
}

/*********************************************/
.introduction {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 1020px) {
  .introduction {
    max-width: 70%;
  }
}
.introduction__title, .introduction__description {
  text-align: center;
}

.game-teams {
  display: none;
}
.game-teams__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Cards Set-up */
.team-card {
  background-color: #ebe3f8;
  color: #6a43b6;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: 0.625rem;
  padding: 1.25rem;
  width: 16rem;
  transition: transform 0.2s;
}
.team-card:hover {
  transform: translateY(-5px);
}
.team-card--selected {
  background-color: #bf9ff1;
}
.team-card__img {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  margin: 0 1rem 0 0;
}
.team-card__row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-card__stats {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-league {
  display: none;
  background-color: #ebe3f8;
  color: #6a43b6;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1.25rem;
  margin: 1.25rem auto;
  text-align: center;
}
.game-league__results, .game-final__results {
  list-style: none;
}
.game-league__results li, .game-final__results li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.game-league__title {
  color: #6a43b6;
}

.game-final {
  display: none;
}
.game-final__winner, .game-final__results, .game-final__user-rank {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #f3f4f6;
  border: 2px solid #ffba08;
  border-radius: 12px;
  padding: 1.25rem;
  margin: 2.5rem auto;
  max-width: 40rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.game-final__user-rank {
  border: 2px solid #ebe3f8;
}
.game-final__results {
  color: #6a43b6;
}

/* Winner name */
.winner__name {
  font-size: 2.5rem;
  color: #ff5722;
  margin-top: 1rem;
}
.winner__text {
  font-size: 1.2rem;
  color: #6a43b6;
  margin-top: 1rem;
}
.winner__img {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 4px solid #ffba08;
}

.improvements__slider {
  margin: 60px 0 0 0;
  width: 100%;
}/*# sourceMappingURL=landing-page.css.map */