@font-face {
  font-family: "Nunito Sans";
  src: url("../../assets/fonts/woff/NunitoSans-Regular.woff") format("woff"),
    url("../../assets/fonts/woff2/NunitoSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
