@use "./variables" as *;
@use "./mixins" as *;
@use "./animations" as *;

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  background: $primary-background-color;
  color: $primary-color;
  margin: 0;
  padding: 20px;
}

/**************** Default Margins Wrapper ******************/

*[class*="wrapper"] {
  margin: 0 1rem;

  @include tablet {
    margin: 0 2.25rem;
  }

  @include desktop {
    margin: 0 auto;
    width: 100%;
    max-width: 63.75rem;
  }
}
*[class*="wrapper--tablet"] {
  margin: 0;

  @include tablet {
    margin: 0 2.25rem;
  }

  @include desktop {
  }
}

/****************** Default Paddings ***************/

h1,
h2,
h3 {
  padding-top: 1.5rem;
  padding-bottom: 1rem;

  @include tablet {
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
}

/***************** FONTS ************************/
// Page Header
h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;

  @include tablet {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}
// Section Header
h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;

  @include tablet {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
// Sub-Header
h3 {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 700;

  @include tablet {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 500;
  }
}
// Body
body {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;

  @include tablet {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
}

*[class*="btn"] {
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 700;

  @include tablet {
    font-size: 0.75rem;
  }
}

//Weights
*[class*="--medium"] {
  font-weight: 500;
}
*[class*="--bold"] {
  font-weight: 700;
}

/*********************************************/

/* Buttons Set-up */
*[class*="btn"] {
  text-align: center;
  text-decoration: none;
  height: 2.5rem;

  border: unset;
  width: 100%;
  background-color: $btn-background-color;
  color: $btn-color;
  border-radius: 4px;
  padding: 0.75rem;
  margin-bottom: 1rem;

  @include tablet {
    padding: 0 2rem;
    width: 9.375rem;
  }
}

/*********************************************/
