$tablet-breakpoint: 768px;
$desktop-breakpoint: 1020px;

$primary-color-light: #323232;
$primary-color-dark: #ffffff;
$primary-background-color-dark: #323232;
$primary-background-color-light: #ffffff;

$secondary-color: #afafaf;
$secondary-background-color-light: #fafafa;

$hover-color: #000000;
$divider-color: #e1e1e1;

$logo-max-width: 12.5rem;
$logo-max-height: 1.25rem;

$padding-mobile: 1rem;
$padding-tablet-desktop: 2.25rem;

$transition-time: 0.5s;
