@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./partials/animations" as *;
@use "./partials/resets";
@use "./partials/global";

.introduction {
  @include flex(center);
  flex-direction: column;
  max-width: 100%;
  margin: 0 auto;

  @include desktop {
    max-width: 70%;
  }

  &__title,
  &__description {
    text-align: center;
  }
}

.game-teams {
  display: none;

  &__container {
    @include flex(center);
  }
  &__controller {
    @include flex(center);
    gap: 1rem;
  }
}

/* Cards Set-up */

.team-card {
  background-color: $secondary-background-color;
  color: $secondary-color;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: 0.625rem;
  padding: 1.25rem;
  width: 16rem;
  transition: transform 0.2s;

  &:hover {
    transform: translateY(-5px);
  }
  &--selected {
    background-color: #bf9ff1;
  }

  &__img {
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    margin: 0 1rem 0 0;
    object-position: bottom;
    object-fit: contain;
  }

  &__row {
    @include flex(center);
  }

  &__stats {
    @include flex(center);
  }
}

.game-league {
  display: none;
  background-color: $secondary-background-color;
  color: $secondary-color;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1.25rem;
  margin: 1.25rem auto;
  text-align: center;
  &__results {
    list-style: none;
    & li {
      padding: 10px;
      border-bottom: 1px solid #ddd;
    }

    &--ranking {
      display: flex;
      flex-direction: column;
    }
  }
  &__title {
    color: $secondary-color;
  }
}

.team-stats {
  &__logo {
    display: block;
    margin: 0 auto 1rem;
    max-width: 5rem;
    border-radius: 50%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }

  &__card {
    border: 2px solid $primary-background-color;
    border-radius: 8px;
    padding: 20px;
    max-width: 400px;
    background-color: $secondary-background-color;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto 20px;
    text-align: center;
  }

  &__name {
    text-align: center;
    padding-top: 0;
    padding-bottom: 1rem;
  }

  &__power {
    @extend .team-stats__name;
  }

  &__container {
    @include flex(start, center);
    margin-bottom: 1rem;
  }

  &__stat-label {
    font-weight: 600;
    width: 100px;
  }

  &__progress-bar {
    flex-grow: 1;
    height: 0.5rem;
    background-color: #ddd;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
  }

  &__progress {
    height: 100%;
    background-color: grey;
  }

  &__change {
    margin-left: 0.5rem;
    font-weight: bold;

    &--increase {
      color: green;
    }
    &--decrease {
      color: red;
    }
  }
}

.game-final {
  display: none;

  &__winner {
    @include flex(center);
    flex-direction: column;

    text-align: center;
    background-color: #f3f4f6;
    border: 2px solid #ffba08;
    border-radius: 12px;
    padding: 1.25rem;
    margin: 2.5rem auto;
    max-width: 40rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  &__user-rank {
    @extend .game-final__winner;
    border: 2px solid $primary-color;
  }
  &__results {
    @extend .game-league__results;
    @extend .game-final__winner;
    color: $secondary-color;
  }
}

/* Winner name */
.winner {
  &__name {
    font-size: 2.5rem;
    color: #ff5722;
    margin-top: 1rem;
  }
  &__text {
    font-size: 1.2rem;
    color: $secondary-color;
    margin-top: 1rem;
  }
  &__img {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #ffba08;
  }
}

.improvements {
  &__slider {
    margin: 60px 0 0 0;
    width: 100%;
  }
}
